[class^="icon-"] {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.icon-github {
  content: url("./assets/icon/github.svg");
  fill: red;
}

.icon-gitee {
  content: url("./assets/icon/gitee.svg");
}
