.k-menu {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    min-width: 80px;
    position: relative;
    padding: 12px 12px;
    a {
      color: inherit;
      text-decoration: none;
    }

    &:hover {
      background-color: #333;
    }
  }
}

.k-menu-item {
  position: absolute;
  width: max-content;
  background-color: #000;
  top: 48px;
  left: 0;
  li {
    display: list-item;
  }
}
